<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>

<div class="reviews-container">
  <div class="col-sm-4">
    <% if @current_user %>
      <h3>Create A Review!</h3>
        <%= form_for :review, url: product_reviews_path(@product) do |f| %>
          <p><%= f.select :rating, options_for_select(1..5), { prompt: "Rate this Product!" } %></p>
          <p><strong>Comment</strong></p>
          <%= f.text_area  :description%><br>
          <%= f.submit("Create review") %><br>
        <% end %>
    <% else %>
      <h3> <%= link_to 'Login', '/login'%>  To Create A Review!</h3>
    <% end %>  
  </div>

  <div class="col-sm-7">
    <h3>Reviews</h3>
    <p><strong><%= @count %> Reviews </strong> <br> <strong>Overall Rating: </strong><%= @average %> / 5.0 ⭐</p>

    <dl class="dl-horizontal">
      <%= render @reviews %>
    </dl>
  </div>

</div>
